
  
  button {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    background: #007a8c;
    /* color: #353236; */
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 2em; */
  }
  
  span {
    z-index: 2;
    position: relative;
  }
  
  .glance {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(50%);
  }
  