.card1 {
  height: 20vmax;
  width: 35vmax;
  background: #36393f;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(../../assets/images/Intelligent\ News.png);
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.card2 {
  height: 20vmax;
  width: 35vmax;
  background: #36393f;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(../../assets/images/rChat.png);
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.card3 {
  height: 20vmax;
  width: 35vmax;
  background: #36393f;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(../../assets/images/rChat.png);
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
